<nav>
  <div class="nav-item" id="brand">
    <div id="left-line"></div>
    <h1>Popellar</h1>
    <div id="right-line"></div>
  </div>
  <div class="nav-item">Wines</div>
  <div class="nav-item nav-item-selected">Settings</div>
  <div class="nav-item align-right">Eason Chang</div>
</nav>

<div id="devices-main-area">
  <div class="left-area">
    <div class="profile">
      <div class="user-image">
        <img src="http://res.cloudinary.com/easonchang/image/upload/c_scale,h_785/v1504651219/IMG_9647_r5zbaa.jpg">
      </div>
      <div class="username">Eason Chang</div>
    </div>
    <div class="menu">
      <div class="menu-item menu-item-selected"><div class="menu-text">Devices</div></div> 
      <div class="menu-item"><div class="menu-text">Account</div></div>
      <div class="menu-item"><div class="menu-text">System</div></div>
    </div>
  </div>
  <div class="right-area">
    <div class="top-bar">
      <div class="bar-item list-all">All devices (37)</div>
      <div class="bar-item sorted-by">Sorted by: <b>ID</b></div>
      <input type="text" class="bar-item search" placeholder="Search..."></input>
    </div>
    <button class="add-device">Add device +</button>
    <div class="devices-table">
      <div class="columes">
        <div class="index-col">Index</div>
        <div class="id-col">ID</div>
        <div class="wine-col">Wine</div>
        <div class="status-col">Status</div>
      </div>
      <div class="devices">
        <div id="device-1">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-2">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-3">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-4">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-5">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-6">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-7">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-8">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-9">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
        <div id="device-10">
          <div class="status-bar-active"></div>
          <div class="index">1</div>
          <div class="id">#1234</div>
          <div class="wine">Whiskey</div>
          <div class="status">
            <div class="status-active"></div>
            <div class="status-val">Active</div>
          </div>
          <button class="more-button">></button>
        </div>
      </div>
    </div>
  </div>
</div>