<nav>
  <div class="nav-item" id="brand">
    <div id="left-line"></div>
    <h1>Popellar</h1>
    <div id="right-line"></div>
  </div>
  <div class="nav-item nav-item-selected">Wines</div>
  <div class="nav-item">Settings</div>
  <div class="nav-item align-right">Eason Chang</div>
</nav>

<div id="main-area">
  <button id="view-all">View all</button>
  <button id="left"><</button>
  <button id="right">></button>
  <div id="center-circle"></div>
  <div id="bottom-table"></div>
  <div id="bottom-table-overlay"></div>
  <div id="wines">
    <div class="wine wine-left-2">
      <div class="wine-img">
        <img src="http://i1.imgbus.com/doimg/6cdo6m4m4o6n0f3.png">
      </div>
      <h1 class="wine-title"><i>Red</i></h1>
      <div class="wine-description">
        <p class="description-left">
          Status:<br/>
          Score:<br/>
          ABV:<br/>
          Origin<br/>
          Age:
        </p>
        <p class="description-right">
          <span class="status">Excellent  <span class="status-small">(97%)</span></span><br/>
          <span class="score">9.8</span><br/>
          <span class="alc">40%</span><br/>
          <span class="origin">Frence</span><br/>
          <span class="age">50 years</span> <span class="age-small">(1968)</span>
        </p>
      </div>
    </div>
    <div class="wine wine-left-1">
      <div class="wine-img">
        <img src="http://i1.imgbus.com/doimg/4cao8m3mao6n146.png">
      </div>
      <h1 class="wine-title"><i>Lime</i></h1>
      <div class="wine-description">
        <p class="description-left">
          Status:<br/>
          Score:<br/>
          ABV:<br/>
          Origin<br/>
          Age:
        </p>
        <p class="description-right">
           <span class="status">Excellent  <span class="status-small">(97%)</span></span><br/>
          <span class="score">9.8</span><br/>
          <span class="alc">40%</span><br/>
          <span class="origin">Frence</span><br/>
          <span class="age">50 years</span> <span class="age-small">(1968)</span>
        </p>
      </div>
    </div>
    <div class="wine wine-center">
      <div class="wine-img">
        <img src="http://res.cloudinary.com/easonchang/image/upload/v1503581140/whiskey_xcpkmu.png">
      </div>
      <h1 class="wine-title"><i>Whiskey</i></h1>
      <div class="wine-description">
        <p class="description-left">
          Status:<br/>
          Score:<br/>
          Alc:<br/>
          Origin<br/>
          Age:
        </p>
        <p class="description-right">
          <span class="status">Excellent  <span class="status-small">(97%)</span></span><br/>
          <span class="score">9.8</span><br/>
          <span class="alc">40%</span><br/>
          <span class="origin">Frence</span><br/>
          <span class="age">50 years</span> <span class="age-small">(1968)</span>
        </p>
      </div>
    </div>
    <div class="wine wine-right-1">
      <div class="wine-img">
        <img src="http://i1.imgbus.com/doimg/fcfo8mbmdo7ne79.png">
      </div>
      <h1 class="wine-title"><i>Shelly</i></h1>
      <div class="wine-description">
        <p class="description-left">
          Status:<br/>
          Score:<br/>
          ABV:<br/>
          Origin<br/>
          Age:
        </p>
        <p class="description-right">
          <span class="status">Excellent  <span class="status-small">(97%)</span></span><br/>
          <span class="score">9.8</span><br/>
          <span class="alc">40%</span><br/>
          <span class="origin">Frence</span><br/>
          <span class="age">50 years</span> <span class="age-small">(1968)</span>
        </p>
      </div>
    </div>
    <div class="wine wine-right-2">
      <div class="wine-img"><img src="http://i1.imgbus.com/doimg/7c6o5m9m3o7naa9.png"></div>
      <h1 class="wine-title"><i>White</i></h1>
      <div class="wine-description">
        <p class="description-left">
          Status:<br/>
          Score:<br/>
          ABV:<br/>
          Origin<br/>
          Age:
        </p>
        <p class="description-right">
          <span class="status">Excellent  <span class="status-small">(97%)</span></span><br/>
          <span class="score">9.8</span><br/>
          <span class="alc">40%</span><br/>
          <span class="origin">Frence</span><br/>
          <span class="age">50 years</span> <span class="age-small">(1968)</span>
        </p>
      </div>
    </div>
  </div>
</div>
<% stylesheet_link_tag 'main-index' %>
<%= javascript_include_tag "main-index" %>