<div id="detail-main-area">
  <div id="left-bg-cover"></div>
  <button class="back"><</button>
  <div class="wine-img">
      <img src="http://res.cloudinary.com/easonchang/image/upload/v1503581140/whiskey_xcpkmu.png">
  </div>
  <div class="wine-details">
    <h1 class="wine-title"><i>Whiskey</i></h1>
    <div class="wine-description">
      <p class="description-left">
        Status:<br/>
        Alc:<br/>
        Origin<br/>
        Age:<br/>
        Keep since:
      </p>
      <p class="description-right">
        <span class="status">Excellent  <span class="status-small">(97%)</span></span><br/>
        <span class="alc">40%</span><br/>
        <span class="origin">Frence</span><br/>
        <span class="age">50 years</span> <span class="age-small">(1968)</span><br/>
        <span class="keep-since">2016/03/24</span>
      </p>
    </div>
    <div id="score">Score: <span class="score-num">9.8</span></div>
    <div id="taste"><div class="taste-label">Taste: <span class="taste-value">9.45</span></div>
      <canvas id="taste-chart" width="100%"></canvas>
</div>
    <div id="weight"><div class="weight-label">Weight: <span class="weight-value">1001.2g</span></div>
      <canvas id="weight-chart" width="100%"></canvas>
    </div>
  </div>
</div>
