body {
  overflow: hidden;
}

*, h1 {
  position: relative;
  margin: 0;
  padding: 0;
}

nav {
  height: 15vh;
  background-image: radial-gradient(50% 0%, #181818 0%, #1E1E1E 100%);
  box-sizing: border-box;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(to right, black, #ddd, black) 1;
  background: radial-gradient(#181818, #1E1E1E);
  
  .nav-item {
    margin-left: 50px;
    display: inline-block;
    font-size: 26px;
    top: 50%;
    transform: translate(0%, -50%);
    font-family: Avenir-Light;
    background: -webkit-linear-gradient(#EBEBEB 0%, #D7D7D7 40%, #B5B5B5 50%, #D7D7D7 60%, #EBEBEB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    &:hover {
      background: -webkit-linear-gradient(#FFFFFF 0%, #EBEBEB 40%, #D7D7D7 50%, #EBEBEB 60%, #FFFFFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    &.align-right {
      text-align: right;
      margin-right: 50px;
      float: right;
    }
    
    &#brand {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
      h1 {
        font-weight: 100;
        color: #E9E9E9;
        background: -webkit-linear-gradient(#E9E9E9, #BABABA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-family: Apple-Chancery;
      }
      
      #left-line {
        width: 130px;
        display: inline-block;
        position: absolute;
        left: -150px;
        top: 50%;
        border-top: 1px solid;
        border-image: linear-gradient(to left, #4F4F4F, rgba(0,0,0,0)) 1;
      }
      
      #right-line {
        width: 130px;
        display: inline-block;
        position: absolute;
        right: -150px;
        top: 50%;
        border-top: 1px solid;
        border-image: linear-gradient(to right, #4F4F4F, rgba(0,0,0,0)) 1;
      }
    }
  }
  
  .nav-item-selected {
    background: -webkit-linear-gradient(#F6C800 0%, #E6BB00 40%, #C39E00 50%, #E6BB00 60%, #F6C800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    &:hover {
      background: -webkit-linear-gradient(#ffe880 0%, #F6C800 40%, #E6BB00 50%, #F6C800 60%, #ffe880 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


#detail-main-area {
  height: 85vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("http://www.juliawineshop.com.tw/archive/file/images/Caliterra.jpg") no-repeat center fixed;
  background-size: cover;
  
  #left-bg-cover {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 10%;
    left: 0;
    height: 100%;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0)) 1;
  }
  .wine-details {
    position: absolute;
    top: 9%;
    left: 20%;
    width: 70%;
    height: 75%;

    .wine-title {
      color: #F6C800;
      font-family: Athelas-Italic;
      font-weight: 100;
      text-shadow: 1px 1px 1px black;
      font-size: 46px;
    }
    .wine-description {
      color: #DDD;
      font-family: Avenir-Light;
      font-size: 18px;
      position: absolute;
      bottom: 60%;
      width: 40%;
      height: 30%;
      font-weight: 100;
      line-height: 130%;
      text-shadow: 1px 1px 1px black;
      
      .description-left {
        width: 35%;
        display: inline-block;
        position: absolute;
        bottom: 0;
      }
      .description-right {
        width: 65%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .age-small, .status-small {
        font-size: 0.6em;
      }
      .status {
        color: #50E3C2;
      }
      .score {
        color: #FECF00;
      }
    }

    #score {
      position: absolute;
      right: 0;
      width: 45%;
      bottom: 60%;
      font-family: Avenir-Light;
      font-size: 18px;
      font-weight: 100;
      text-shadow: 1px 1px 1px black;
      color: #DDD;
      .score-num {
        color: #F6C800;
        text-shadow: None;
        background: -webkit-linear-gradient(#FFCF00 0%, #FECF00 40%, #A98A00 50%, #FECF00 60%, #FFCF00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10em;
        line-height: 0;
      }
    }

    #taste {
      position: absolute;
      height: 50%;
      width: 45%;
      bottom: 0;
      .taste-label {
        font-family: Avenir-Light;
        font-size: 18px;
        font-weight: 100;
        text-shadow: 1px 1px 1px black;
        color: #DDD;
      }
      .taste-value {
        color: #F6C800;
      }
    }

    #weight {
      position: absolute;
      height: 50%;
      width: 45%;
      bottom: 0;
      right: 0;
      .weight-label {
        font-family: Avenir-Light;
        font-size: 18px;
        font-weight: 100;
        text-shadow: 1px 1px 1px black;
        color: #DDD;
      }
      .weight-value {
        color: #F6C800;
      }
    }
  }

  .wine-img {
    left: 10%;
    height: 56.7%;
    top: 9%;

    img {
      -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(255, 255, 255, 0.5)));
      height: 100%;
      position: absolute;
      transform: translate(-50%, 0);
      -webkit-filter: drop-shadow(3px 3px 3px #222);
    }
  }
  
  button.back {
    border: 2px solid rgba(209,209,209,0.62);
    color: rgba(209,209,209,0.62);
    font-size: 18px;
    background-color: transparent;
    border-radius: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    &:hover {
      border: 2px solid rgba(209,209,209,0.9);
      color: rgba(209,209,209,0.9);
    }
  }
}
