#devices-main-area {
  height: 85vh;
  width: 100vw;
  background: #222;
  color: white;
  font-family: Avenir-Light;

  .left-area {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #252525;
    
    .profile {
      height: 250px;
      .user-image {
        margin: 30px auto;
        border-radius: 100%;
        width: 150px;
        height: 150px;
        border: 2px solid white;
        overflow: hidden;
        img {
          height: 100%;
        }
      }
      
      .username {
        text-align: center;
        font-size: 26px;
      }
    }

    .menu {
      border-bottom: 1px solid;
      border-image: linear-gradient(to right, rgba(123,123,123,0.2), rgba(255,255,255,0.8), rgba(123,123,123,0.2)) 1;

      .menu-item {
        height: 60px;
        font-size: 20px;
        text-align: center;
        border-top: 1px solid;
        border-image: linear-gradient(to right, rgba(123,123,123,0.2), rgba(255,255,255,0.8), rgba(123,123,123,0.2)) 1;
        background-color: #313131;

        &:hover {
          background-color: #444444;
        }
      }

      .menu-item-selected {
        background-color: #e2b800;

        &:hover {
          background-color: #ffd726;
        }
      }

      .menu-text {
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  
  .right-area {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    background: radial-gradient(at 70% 30%, #3B3B3B, #000000 50%);
    
    .top-bar {
      height: 60px;
      background-color: #555;
      font-size: 18px;
      background: linear-gradient(to bottom, #FECF00, #e2b800);

      .bar-item {
        display: inline-block;
        top: 50%;
        transform: translate(0, -50%);
        margin-left: 20px;
      }

      .search {
        margin-right: 20px;
        border-radius: 100px;
        font-size: 16px;
        position: absolute;
        right: 0;
        width: 200px;
        height: 30px;
        padding-left: 10px;
        //padding-top: 8px;
        border: 2px solid white;
        color: white;
        background-color: transparent;
      }
      .search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,0.8);
      }
    }

    a {
      position: absolute;
      right: 20px;
      top: 80px;
    }

    button.add-device {
      border: 2px solid rgba(246,200,0,0.62);
      color: rgba(246,200,0,0.62);
      font-size: 16px;
      background-color: transparent;
      border-radius: 100px;
      width: 130px;
      height: 35px;

      &:hover {
        border: 2px solid rgba(246,200,0,0.9);
        color: rgba(246,200,0,0.9);
      }
    }

    .devices-table {
      width: 90%;
      top: 10%;
      height: 75%;
      left: 5%;

    }
    .devices {
      height: 92%;
      overflow: scroll;

      .index {
        left: 5%;
      }
      .id {
        left: 20%;
      }
      .wine {
        left: 35%;
      }
      .status {
        left: 70%;
      }
      .status > div {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
      .status-active {
        height: 7px;
        width: 7px;
        background-color: green;
        border-radius: 10px;
      }
      .status-ready {
        height: 7px;
        width: 7px;
        background-color: yellow;
        border-radius: 10px;
      }
      .status-disactive {
        height: 7px;
        width: 7px;
        background-color: red;
        border-radius: 10px;
      }
      .status-val {
        left: 15px;
      }
      .status-bar-active {
        width: 5px;
        background-color: green;
        height: 100%;
        border-radius: 100px;
      }
      .status-bar-disactive {
        width: 5px;
        background-color: red;
        height: 100%;
        border-radius: 100px;
      }
      .status-bar-ready {
        width: 5px;
        background-color: yellow;
        height: 100%;
        border-radius: 100px;
      }

      & > div {
        margin: 5px 0;
        height: 50px;
        border: 1px solid #5F5F5F;
        background-color: #252525;
        
        & > * {
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
        }
        
        &:hover {
          background-color: #444444;
        }
      }

      form {
        font-size: 26px;
        vertical-align: center;
      }

      input[type=text] {
        border-radius: 100px;
        font-size: 26px;
        //position: absolute;
        text-align: center;
        letter-spacing: 10px;
        //left: 30%;
        margin: 30px;
        width: 300px;
        height: 60px;
        border: 2px solid white;
        color: white;
        background-color: transparent;
      }
      input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,0.4);
      }

      input[type=submit] {
        border: 2px solid rgba(246,200,0,0.62);
        color: rgba(246,200,0,0.62);
        font-size: 26px;
        background-color: transparent;
        border-radius: 100px;
        //position: absolute;
        //right: 20px;
        //top: 80px;
        width: 130px;
        height: 60px;

        &:hover {
          border: 2px solid rgba(246,200,0,0.9);
          color: rgba(246,200,0,0.9);
        }
      }


    }

    .columes {
      height: 8%;
      & > div {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: #A8A8A8;
      }
      .index-col {
        left: 5%;
      }
      .id-col {
        left: 20%;
      }
      .wine-col {
        left: 35%;
      }
      .status-col {
        left: 70%;
      }
    }


    .more-button {
      color: #ccc;
      font-size: 24px;
      background-color: transparent;
      right: 20px;
      border: 0px;
    }

    
  }
  #dialog-form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

