.detail-main-area {
  height: 85vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("http://www.juliawineshop.com.tw/archive/file/images/Caliterra.jpg") no-repeat center fixed;
  background-size: cover;
  
  #left-bg-cover {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 10%;
    left: 0;
    height: 100%;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0)) 1;
  }
  .wine-details {
    position: absolute;
    top: 9%;
    left: 20%;
    width: 70%;
    height: 75%;

    .wine-title {
      color: #F6C800;
      font-family: Athelas-Italic;
      font-weight: 100;
      text-shadow: 1px 1px 1px black;
      font-size: 46px;
    }
    .wine-description {
      color: #DDD;
      font-family: Avenir-Light;
      font-size: 18px;
      position: absolute;
      bottom: 60%;
      width: 40%;
      height: 30%;
      font-weight: 100;
      line-height: 130%;
      text-shadow: 1px 1px 1px black;
      
      .description-left {
        width: 35%;
        display: inline-block;
        position: absolute;
        bottom: 0;
      }
      .description-right {
        width: 65%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .age-small, .status-small {
        font-size: 0.6em;
      }
      .status {
        color: #50E3C2;
      }
      .score {
        color: #FECF00;
      }
    }

    #score {
      position: absolute;
      right: 0;
      width: 45%;
      bottom: 60%;
      font-family: Avenir-Light;
      font-size: 18px;
      font-weight: 100;
      text-shadow: 1px 1px 1px black;
      color: #DDD;
      .score-num {
        color: #F6C800;
        text-shadow: None;
        background: -webkit-linear-gradient(#FFCF00 0%, #FECF00 40%, #A98A00 50%, #FECF00 60%, #FFCF00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10em;
        line-height: 0;
      }
    }

    #taste {
      position: absolute;
      height: 50%;
      width: 45%;
      bottom: 0;
      .taste-label {
        font-family: Avenir-Light;
        font-size: 18px;
        font-weight: 100;
        text-shadow: 1px 1px 1px black;
        color: #DDD;
      }
      .taste-value {
        color: #F6C800;
      }
    }

    #weight {
      position: absolute;
      height: 50%;
      width: 45%;
      bottom: 0;
      right: 0;
      .weight-label {
        font-family: Avenir-Light;
        font-size: 18px;
        font-weight: 100;
        text-shadow: 1px 1px 1px black;
        color: #DDD;
      }
      .weight-value {
        color: #F6C800;
      }
    }
  }

  .wine-img {
    left: 10%;
    height: 56.7%;
    top: 9%;

    img {
      -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(255, 255, 255, 0.5)));
      height: 100%;
      position: absolute;
      transform: translate(-50%, 0);
      -webkit-filter: drop-shadow(3px 3px 3px #222);
    }
  }
  
  button.back {
    border: 2px solid rgba(209,209,209,0.62);
    color: rgba(209,209,209,0.62);
    font-size: 18px;
    background-color: transparent;
    border-radius: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    &:hover {
      border: 2px solid rgba(209,209,209,0.9);
      color: rgba(209,209,209,0.9);
    }
  }
}
